html
{
	/* background: transparent url('/images/ipm-logo.jpg') repeat; */
}

@media screen and (max-width: 800px)
{
	html
	{
		padding: 0px;
	}

	body
	{
		margin: 3px;
	}

	table#issues *
	{
		font-size: 12px;
	}
}

@media screen and (max-width: 960px)
{
	.images .image-current img
	{
		width: 100%;
	}

	.images .images-all img
	{
		height: auto;
		width: 32%;
	}
}

@media screen and (max-width: 580px)
{
	#headerLogo
	{
		margin-bottom: 10px;
	}

	#headerMenu
	{
		float: left;
	}
}

.panelHeader
{
	padding-left: 0px;
	padding-right: 0px;
}

.headerTitle
{
	padding: 8px 20px 0px 20px;
}

.panelTitle
{
	position: relative;
}

#headerLogo
{
}

#headerImage
{
	position: absolute;
	top: -10px;
	right: 10px;
	background: transparent url('/images/ipm-logo.png') no-repeat;
	height: 78px;
	width: 100px;
}

#headerMenu
{
	float: right;
	font-size: 12px;
	margin-top: -10px;
}

	#headerMenu a
	{
		color: #ffffff;
		display: inline-block;
		margin-left: 15px;
		padding: 3px 5px;
	}

	#headerMenu a.selected
	{
		background-color: #d6d6d6;
		color: #294862;
		text-decoration: none;
	}

.headerTitle
{
	width: 100%;
}

body table.tableList
{
	border: solid 1px #cccccc;
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

	body table.tableList a
	{
		text-transform: none;
	}

	body table.tableList tr:nth-child(odd)
	{
		background-color: #e0e0e0;
	}

	body table.tableList thead tr th
	{
		background-color: #0B3C57;
	}

		body table.tableList thead tr th
		{
			color: #ffffff;
			text-align: left;
		}

	body table.tableList tr th, table#issues tr td
	{
		padding: 8px 5px;
	}

table#pests
{
}

	table#pests th, table#pests td
	{
		padding: 10px;
	}

	table#pests td:first-child
	{
		padding-left: 10px;
	}

	table#pests .button
	{
		display: block;
		height: 19px;
		margin: 0px;
		padding: 6px 10px 3px 6px;
		width: 50px;
	}

	table#pests .button.edit
	{
		margin-bottom: 8px;
	}

	table#pests .button.delete
	{
		background-color: #800000;
	}

	table#pests td
	{
	    color: #666666;
	    font-size: 14px;
	    line-height: 1.25em;
	    padding-left: 10px;
	    padding-right: 10px;
	    vertical-align: top;
	}

	table#pests td.image
	{
		max-width: 60px;
		overflow: hidden;
		width: 60px;
	}

		table#pests td.image img
		{
			height: 60px;
		}

	table#pests td.name
	{
		padding-left: 10px;
		width: 190px;
	}

	table#pests td.category
	{
		width: 190px;
	}

	table#pests td.description
	{
		position: relative;
		content: '';
		max-height: 4em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

.panelLeft
{
	padding: 0px;
}

	.panelLeft input[type="password"]
	{
		width: 100%;
	}

.panelRight
{
	background-color: transparent;
	padding: 0px;
}

#section1 .panelLeft
{
	width: 230px;
}

#section1 .panelRight
{
	border-left: solid 1px #c0c0c0;
	float: none;
	margin-left: 250px;
	min-height: 250px;
	width: auto;
}

	#section1 .panelRight .panelContent
	{
		margin-left: 15px;
	}

#section1 .panelLeft img
{
	width: 230px;
}

#section2 .panelLeft
{
	width: 40%;
}

#section2 .panelRight
{
	float: none;
	margin-left: 40%;
	min-height: 250px;
	width: 50%;
}

	#section2 .panelRight .panelContent
	{
		margin-left: 30px;
	}

.formBlock textarea
{
	min-height: 5em;
}

.panelTitle, .divHeader, h5
{
	text-transform: uppercase;
}

	.divHeader .warning
	{
		color: #c00000;
		display: block;
		font-style: italic;
		text-transform: none;
	}

h5
{
	margin-bottom: 1em;
}

h6
{
	color: #4c4d4f;
	font-size: 16px;
	font-weight: normal;
	margin: 0px 0px 0.5em 0px;
	padding: 0px;
	text-transform: uppercase;
}

input[type="submit"]
{
	border: none;
	height: 36px;
	margin-top: -3px;
	width: 100%;
}

a.button
{
	background-color: #40a752;
	border: none;
	color: #ffffff;
	display: block;
	font-size: 11px;
	height: 2em;
	overflow: hidden;
	padding: 12px 0px 3px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.section-white, .section-gray
{
	padding: 5px 10px;
	/* width: 100%; */
}

.section-white
{
	background-color: #ffffff;
}

.section-gray
{
	background-color: #dddddd;
}

#pestReportBlock
{
	display: none;
	margin-top: 15px;
}

body#newpest #pestReportBlock
{
	display: block;
}

.formBlock
{
	margin-bottom: 10px;
}

.formBlock-left
{
	float: left;
}

.formBlock-right
{
	float: right;
}

.formBlock-half
{
	width: 48%;
}

.description, .remedy
{
	margin-bottom: 30px;
}

	.description, .remedy,
	.description *, .remedy *
	{
		color: #666666;
		font-size: 14px;
		line-height: 1.25em;
	}

.formFieldColumns
{
	border-bottom: solid 1px #c0c0c0;
	margin-bottom: 15px;
}

	.formFieldColumns .formFieldCol
	{
		float: left;
		font-size: 10px;
		text-transform: uppercase;
		width: 25%;
	}

		.formFieldColumns .formFieldCol p
		{
			padding-right: 20px;
		}

		.formFieldColumns .formFieldCol span
		{
			color: #800000;
		}

		.formFieldColumns .formFieldCol .formSelect
		{
		}

			.formFieldColumns .formFieldCol.formSelect select
			{
				font-size: 12px;
				height: 1.5em;
				line-height: 1.5em;
				max-width: 150px;
				overflow: hidden;
				width: 150px;
			}

.image-current img
{
	width: 430px;
}

.images-all img
{
	height: 100px;
	width: 140px;
}

body#issuelist select#locationId
{
	clear: both;
	float: right;
	margin: 10px 0px;
}

#editpest .section-white, #deletepest .section-white
{
	padding: 15px 10px;
}

#editpest textarea
{
	max-width: auto;
	min-width: 480px;
	width: 80%;
}

#editpest img.pestImage
{
	width: 230px;
}

#editpest .button
{
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 150px;
}

	#editpest a.button.cancel
	{
		background-color: #800000;
	}

	#editpest input.button
	{
		margin-top: 1px;
	}

div.error
{
	color: #800000;
	font-size: 12px;
	padding: 5px 0px;
}

div.addNewPest
{
	margin-top: 10px;
}

	div.addNewPest a
	{
		background-color: #b0b0b0;
	}

#deletepest img
{
	width: 230px;
}

#deletepest .button
{
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 150px;
}

	#deletepest .button.yes
	{
		background-color: #800000;
		margin-top: 1px;
	}

	#deletepest .button.no
	{
	}

#editpest p, #deletepest p
{
	font-size: 14px;
}

