html {
    /*background: url(../Content/images/background.gif) repeat-x; *//*no-repeat center center fixed;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color:#F1F1F2;
    padding: 50px;
}
body {
    font-family: Arial;
    max-width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table1 {
    width:100%;
}
tr.Line1 {
    background-color: #ffffff;
    /*border: 1px solid gray;*/
    border-top: none;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    font-size: 10pt;
}
tr.Line2 {
    background-color: #f1f1f2;
    border: 1px solid gray;
    font-size: 10pt;
}
tr.Line1Gray {
    background-color: #ffffff;
    border: 1px solid gray;
    font-size: 10pt;
    color: #C0C0C0;
}
tr.Line2Gray {
    background-color: #f1f1f2;
    border: 1px solid gray;
    font-size: 10pt;
    color: #C0C0C0;
}
th {
    text-transform: uppercase;
    font-weight: normal;
}
a {
    text-transform: uppercase;
}

h5 {
    font-weight: bold;
    font-size: 12pt;
    color: #063c57;

}
h5.button {
    color: #000000;
    font-size: 10pt;
    font-weight: bold;
    margin: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="datetime"],
input[type="password"],
select,
textarea {
    width: 302px;
    max-width: 302px;
    background-color: #f1f1f2;
    border: 1px solid #868686;
}
input[type="text"],
input[type="datetime"],
input[type="password"],
select {
    height: 28px;
}

input[type="button"] {
    height: 36px;
    font-family: Arial;
    font-size: 8pt;
    background-color: #40A752;  /*#6c1a1d;*/
    color: white;
    text-transform: uppercase;
    border: none;
}
input[type="submit"] {
    width: 300px;
    font-family: Arial;
    font-size: 8pt;
    background-color: #40A752;  /*#6c1a1d;*/
    color: white;
    text-transform: uppercase;
}

#loginUl {
    padding: 0px;
}
#btnLogin {
    width: 300px;
    height: 36px;
}

.short {
    height: 36px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a:link {
    color: #294862;
}
a:visited {
    color: #294862;
}
a:hover {
    text-decoration: underline;
}

.centerPanel {
    background-color: #C6C8CA;    /*#FFFFFF*/
    margin-top: 1%;
}
.panelTitle {
    background-color: #F1F1F2;  /*#0A3C57*/
    color: #0B3C57;     /*#EFF2F4;*/
    font-size: x-large;
    padding-bottom: 10px;
}
.panelHeader {
    background-color: #0B3C57;  /*#171717*/
    width: 100%;
    height: 46px;
    font-size: medium;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.headerTitle {
    float: left;
    color: #ffffff;
    font-size: 17pt;
    padding-top: 2px;
    width: 50%;
}
.headerTitle a {
    color: #ffffff;
    text-decoration: none;
}

.headerNav {
    float: right;
    color: #EFF2F4;
    padding-top: 7px;
    width: 210px;
}
.headerNavMenu {
    float: right;
    width: 100%;
    margin: 0 auto;
}
.headerNavMenuHide {
    /*visibility: hidden;*/
    display: none;
}
.headerNavMenu a {
    color: #ffffff;
    text-decoration: none;
}
.headerNavMenu div {
    float: right;
}
.navDash {
    width: 10%;
    text-align: center;
}
.dropdownView {
    display: inherit;
}
.dropdownHide {
    display: none;
}

.dropdown-menu {
    background-color: #C6C8CA;
    text-align: left;
}
.dropdown-menu li a {
    font-weight: bold;
}

.panelBody {
    /*padding: 15px;*/
}
.panelLogin {
    padding: 10px;
    background: url("../Content/images/backgroundPhotoDark.jpg") no-repeat top left;
    background-size: 100%;
    height: 673px;
}

/*.pageContent {
    background-color: #ffffff;       
}*/
.panelLeft {
    float: left;
    width: 44%;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 35px;
    padding-right: 15px;
}
.panelLeft select {
    max-width: 100%;
    width: 100%;
}
.panelLeft input[type="text"] {
    max-width: 100%;
    width: 100%;
}
.panelLeft textarea {
    max-width: 100%;
    width: 100%;
}

.panelRight {
    background-color: #ffffff;
    float: right;
    width: 56%;
    height: 100%;
    min-height: 610px;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.panelAll {
    float: none;
    width: 100%;
    vertical-align: top;
    padding: 10px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-right: none;
}
.panelAll select {
    max-width: 100%;
    width: 100%;
}
.panelAll input[type="text"] {
    max-width: 100%;
    width: 100%;
}
.panelAll textarea {
    max-width: 100%;
    width: 100%;
}
.panelBelow {
    background-color: #ffffff;
    float: none;
    width: 100%;
    vertical-align: top;
    padding: 10px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.panelHalf {
    float: none;
    width: 30%;
    vertical-align: top;
    padding: 10px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.panelMost {
    float: none;
    width: 50%;
    vertical-align: top;
    padding: 10px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.partialView {
    clear: both; 
}
.fullsize {
    width: 100%;
    height: 36px;
    margin-top: -3px;
}
.halfsizeLeft {
    width: 49%;
    float: left;
    height: 36px;
    margin-top: -3px;
    margin-right: 1%;
    margin-bottom: 3.5%;
    margin-left: 0;
}
.halfsizeRight {
    width: 49%;
    float: right;
    height: 36px;
    margin-top: -3px;
    margin-right: 0px;
    margin-bottom: 3.5%;
    margin-left: 0;
}
.proxy {
    margin-bottom: 3.5%;
}
/*.halfsizeLeftLarge {
    width: 49%;
    float: left;
    height: 36px;
    margin-right: 1%;
    margin-bottom: 1%;
}
.halfsizeRightLarge {
    width: 49%;
    height: 36px;
    margin-right: 0px;
    margin-bottom: 1%;
}*/
.quartersizeLeft {
    width: 25%;
    height: 36px;
    margin-right: 1%;
    margin-bottom: 1%;
}

.divHeader {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 8pt;
    color: #4c4c4e;
}
.editBtn {
    background: url("../Content/images/edit.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
    margin-top: 2px;
}
.editOffBtn {
    background: url("../Content/images/editOff.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    /*text-indent: -9999px;*/
    margin-top: 2px;
}
.detailsBtn {
    background: url("../Content/images/details.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
}
.deviceBtn {
    background: url("../Content/images/device.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
}
.userBtn {
    background: url("../Content/images/user.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
}
.userOffBtn {
    background: url("../Content/images/userOff.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    /*text-indent: -9999px;*/
}
.deleteBtn {
    background: url("../Content/images/delete.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
}
.deleteOffBtn {
    background: url("../Content/images/deleteOff.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    /*text-indent: -9999px;*/
}
.resetBtn {
    background: url("../Content/images/resetname.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
    margin-top: 6px;
}
.resetOffBtn {
    background: url("../Content/images/resetnameOff.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    /*text-indent: -9999px;*/
    margin-top: 6px;
}
.emailBtn {
    background: url("../Content/images/email.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
}
.qrcodeBtn {
    background: url("../Content/images/qrcode.png") no-repeat top left;
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 7px;
    text-indent: -9999px;
}
.gearBtn {
    background: url("../Content/images/gear.png") no-repeat top left;
    display: block;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
}

.navbar-title {
    color: white;
}

.DisplayList {
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.TabsTable {
    /*border: 1px solid #5D5D5D;*/
    border-top: 1px solid #5D5D5D;
    border-right: 1px solid #5D5D5D;
    border-bottom: none;
    border-left: 1px solid #5D5D5D;
    width:100%;
}
.TabSelected {
    background-color: #FFFFFF;
    width:50%;
    text-align:center;
    border: 1px solid #5D5D5D;
    padding-top: 0px;
    padding-bottom: 0px;
}
.TabNotSelected {
    background-color: #f1f1f2;
    width: 50%;
    text-align:center;
    border: 1px solid #5D5D5D;
    padding-top: 0px;
    padding-bottom: 0px;
}

.block {
    width: 100%;
    padding: 5px;
}
.block2 {
    width: 100%;
}

.MobileOnly {
    display: none;
}

.smallPrint {
    font-size: x-small;
}

.errorMessage {
    color:#800000;
    font-weight:bold;
}

.DialogClass {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*a.arrowRight {
    background: url(../Content/images/arrowRight.png) no-repeat top left;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}
a.arrowDown {
    background: url(../Content/images/arrowDown.png) no-repeat top left;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}*/
/*.accordion {
    font-size: 10pt;
    width: 35%;
}
.accordion .ui-accordion-header {
    border: none;
    background-image: none;
    background-color: inherit;
    color: inherit;
}
.accordion .ui-accordion-content {
    background-color: inherit;
    border-top: 1px solid #5D5D5D;
    border-bottom: none;
    border-left: none;
}*/
/*
    background top & text: #0A3C57 dark teal 
    background bottom: #EAEBE2 dark ivory
    buttons: #6C191E dark maroon 
    outside border: #5D5D5D dark gray
    inner box background: #FFFFFF white
    textbox background: #F3F3F4 white-gray
    black banner: #171717
    white text: #EFF2F4
    black text: #646567
*/